body, main, footer{
    width: 100%;
    max-width: 768px;
    margin: 0px;
    padding: 0px;
}

body{
    height: 6000px;
}

footer{
    background-color: $footerColor;
    color: white;
    display: flex;
    flex-direction: column;
}